{% extends'base.html' %}
{% block content %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Admin Home</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Welcome {{ username}} !</li>
                        </ol>

                        <!-- Add Item Button -->
                        <a href="{{ url_for('edit', id=None) }}" class="btn btn-primary mb-3">Add Product</a>
                        <a href="{{ url_for('register_admin', id=None) }}" class="btn btn-primary mb-3">Add new Admin</a>
                        <!--list of registered users-->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Registered Users
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td>{{user.username}}</td>
                                            <td>{{ user.email}}</td>
                                            <td>{{ user.role }}</td>
                                            <!-- ADDING THE EDIT AND DELETE BUTTONS FROM THE ABOVE EDITING -->
                                            <td>
                                                <a href="{{ url_for('delete_user', id=user.id) }}" class="btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Products
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Brand</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for watch in watches %}
                                        <tr>
                                            <td>{% if watch.id %}
                                                <img src="{{ url_for('get_image', id=watch.id) }}" alt="Item Image" width="100">
                                                {% else %}
                                                    No Image
                                                {% endif %}</td>
                                            <td>{{ watch.name}}</td>
                                            <td>{{ watch.brand }}</td>
                                            <!-- ADDING THE EDIT AND DELETE BUTTONS FROM THE ABOVE EDITING -->
                                            <td>
                                                <a href="{{ url_for('edit', id=watch.id) }}" class="btn btn-warning btn-sm">Edit</a>
                                                <a href="{{ url_for('delete', id=watch.id) }}" class="btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>




 </div>
</div>

{% endblock %}