{% extends 'base.html' %}
{% block content %}
<!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <section class="h-100 h-custom" style="background-color: #eee;">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                          <div class="col">
                            <div class="card">
                              <div class="card-body p-4">

                                <div class="row">
                                <h3>Thank you!!</h3>
                                <h4>Your order has been placed successfully:)</h4>
                                <h4>Your order number is 9237427634826. We will immediatelly process your order, and it will be delivered in 2 - 5 business days.</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
{% endblock %}